/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar form {
    display: flex;
    align-items: center;
  }
  
  .navbar input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .navbar button[type="submit"] {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .navbar button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Car list styles */
  .car-list {
    margin-top: 20px;
  }
  
  .car-list table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .car-list th,
  .car-list td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .car-list th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .car-list td {
    background-color: #fff;
  }
  
  .car-list td p {
    margin: 0;
  }
  